flow.json
[
    {
        "id": "2b7ddcd12888883b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59883efbca92eb8b",
        "type": "ui_tab",
        "name": "T",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50bebbfe2024ed77",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "12cf6d0fb56d06e7",
        "type": "ui_group",
        "name": "T",
        "tab": "59883efbca92eb8b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f63c39c2375103c5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f982c25b630fc588",
        "type": "debug",
        "z": "2b7ddcd12888883b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "e4a12c711066a70a",
        "type": "ui_switch",
        "z": "2b7ddcd12888883b",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "12cf6d0fb56d06e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "f982c25b630fc588",
                "036a19043b433589"
            ]
        ]
    },
    {
        "id": "c1a3d7bf523b9769",
        "type": "mqtt in",
        "z": "2b7ddcd12888883b",
        "name": "",
        "topic": "ANALOG",
        "qos": "0",
        "datatype": "auto",
        "broker": "f63c39c2375103c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "0e48adfc2f154481",
                "4aa551ea73cf74e7"
            ]
        ]
    },
    {
        "id": "4aa551ea73cf74e7",
        "type": "debug",
        "z": "2b7ddcd12888883b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "0e48adfc2f154481",
        "type": "ui_gauge",
        "z": "2b7ddcd12888883b",
        "name": "",
        "group": "12cf6d0fb56d06e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "27a1fe18d4b6895b",
        "type": "mqtt in",
        "z": "2b7ddcd12888883b",
        "name": "",
        "topic": "WRITE",
        "qos": "0",
        "datatype": "auto",
        "broker": "f63c39c2375103c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "3d516ac9c7c4a693",
                "a6127657ae288ec1"
            ]
        ]
    },
    {
        "id": "3d516ac9c7c4a693",
        "type": "ui_text",
        "z": "2b7ddcd12888883b",
        "group": "12cf6d0fb56d06e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6127657ae288ec1",
        "type": "debug",
        "z": "2b7ddcd12888883b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "036a19043b433589",
        "type": "mqtt out",
        "z": "2b7ddcd12888883b",
        "name": "",
        "topic": "READ",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63c39c2375103c5",
        "x": 650,
        "y": 80,
        "wires": []
    }
]